.Rproj.user
.Rhistory
.RData
.DS_Store
*/**/.DS_Store
.Rprofile
# Jupyter Notebook
.ipynb_checkpoints

# Ignore raw data
100_data_raw/*
200_data_clean/*

# Ignore secrets
# DO NOT change this
secrets/*

/.quarto/

# ignore renv files
renv/

# ignore freeze cache
_freeze

# ignore cached pyc files
*.pyc
