.Rproj.user
.Rhistory
.RData
.DS_Store
*/**/.DS_Store
.Rprofile
# Jupyter Notebook
.ipynb_checkpoints

# Ignore raw data
100_data_raw/*
200_data_clean/*

# Ignore secrets
secrets/*

/.quarto/

# ignore renv files
renv/

# ignore freeze cache
_freeze

# ignore cached pyc files
*/**/_pycache__
*.pyc


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mac
.DS_Store

# Other
.vscode
*.tsv
*.pt
*.env
local/
local_*
build/
*.egg-info/
.idea
*.zip

# Project-specific
secrets.toml
ragpipe/secrets.toml
*.log
*/assertion.log
*results/
ragpipe/pdfs
.aider*
