numpy
pandas
arxiv==1.4.8
azure-core
azure-identity
beautifulsoup4==4.12.3
biopython==1.84
docxcompose==1.4.0
docx2txt==0.8
docxtpl==0.18.0
langchain-text-splitters==0.2.2
langfuse
llama-index==0.10.56
llama-index-core==0.10.56
llama-index-embeddings-azure-openai==0.1.11
llama-index-embeddings-openai==0.1.11
llama-index-llms-azure-openai==0.1.9
llama-index-readers-file==0.1.30
llama-index-readers-web==0.1.23
openai==1.36.1
openpyxl==3.1.5
pymupdf==1.24.7
pypandoc_binary
pypdf==4.3.1
pypdf2==3.0.1
pyyaml==6.0.1
requests==2.32.3
semanticscholar==0.8.4
streamlit==1.36
streamlit-authenticator==0.3.3
tabulate==0.9.0
trafilatura==1.11.0

